* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: min(90%, var(--container-width));
  margin: auto;
}