.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
}

.logo-highlight {
  color: var(--accent);
}

.logo-text {
  color: var(--text-primary);
}